.navbar{
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px;
  box-shadow: 0px 2px 3px grey;
  text-shadow: 0px 1px 2px grey;
}

.title{
  font-size: 5vw;
  flex: 1;
}

.items{
  position: relative;
  display: flex;
  justify-content: space-around;
  text-align: center;
  top: 1.6vw;
  flex: 3;
  font-size: 3vw;
}

.item{
  user-select: none;
  text-decoration: none; 
  color: black;
}

.item:hover{
  color: rgb(161, 161, 161);
  cursor: grab;
}

.item:active{
  cursor: grabbing;
  color: rgb(199, 199, 199);
}
